@using DictionaryManager.Shared.Models.DTOs
@using DictionaryManagerApp.Services

@inject HttpClient HttpClient

@implements IDisposable

<EditForm EditContext="dictionaryEditContext">
    <div class="input-group mb-2">
        <span class="input-group-text">List's name</span>
        <InputText class="form-control" @bind-Value="Dictionary.ListName"></InputText>
    </div>
    <ValidationMessage For="() => Dictionary.ListName" />
    <div class="input-group mb-2">
        <span class="input-group-text">SourceUrl</span>
        <InputText class="form-control" @bind-Value="Dictionary.SourceUrl"></InputText>
    </div>
</EditForm>
<Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="CreateDictionary">Create</Button>
<Button Type="ButtonType.Reset" Color="ButtonColor.Danger" @onclick="OnCloseFunc">Cancel</Button>

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;
    [Parameter]
    public Func<Task> OnCloseFunc { get; set; }
    private WordListDTO Dictionary = new WordListDTO();
    private EditContext? dictionaryEditContext;
    private ValidationMessageStore? dictionaryValidationMessages;

    protected override void OnInitialized()
    {
        dictionaryEditContext = new EditContext(Dictionary);
        dictionaryValidationMessages = new ValidationMessageStore(dictionaryEditContext);

        dictionaryEditContext.OnValidationRequested += OnDictionaryValidation;
    }

    private void OnDictionaryValidation(
        object? sender,
        ValidationRequestedEventArgs args
    )
    {
        dictionaryValidationMessages?.Clear();

        if (String.IsNullOrWhiteSpace(Dictionary.ListName))
        {
            dictionaryValidationMessages?.Add(() => Dictionary.ListName, "The list's name must not be empty.");
        }
    }
    private async Task CreateDictionary()
    {
        if(dictionaryEditContext.Validate())
        {
            HttpResponseMessage wordListCreationResponse = await HttpClient.PostAsJsonAsync<DictionaryManager.Shared.Models.DTOs.WordListDTO>(
                string.Concat(HttpClient.BaseAddress, "api/WordList/createwordlist"),
                Dictionary
            );
            if (wordListCreationResponse.IsSuccessStatusCode)
            {
                ToastService.Notify(new(ToastType.Success, $"Dictionary saved successfully."));
                //the ok response of word list's creation return its id
                int wordListId = int.Parse(await wordListCreationResponse.Content.ReadAsByteArrayAsync());
                Console.WriteLine(wordListId);
                await OnCloseFunc();
            }
            else
            {
                ToastService.Notify(new(ToastType.Danger, $"Dictionary creation failed."));
            }
        }
    }
    public void Dispose()
    {
        dictionaryEditContext.OnValidationRequested -= OnDictionaryValidation;
    }
}
