@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <span class="login-display-name">@context.User.Identity?.Name</span>
        <button class="btn btn-link login-display-logout" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login" class="btn btn-link">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogout()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }
}
