# Database
POSTGRES_DB=vocabulary_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# Keycloak
KEYCLOAK_DB=keycloak_db
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me
KEYCLOAK_PORT=8180

# Ports
DB_PORT=5432
API_PORT=5255
CLIENT_PORT=5218

# API
ASPNETCORE_ENVIRONMENT=Production
