@using VocabularyManager.Core.Interfaces
@using VocabularyManager.UseCases.DTOs

<div class="mt-1">
    @if (WordList is not null)
    {
        <div class="flex-column border border-1 border-secondary rounded-2 p-2">
            <div class="text-secondary">Word list's name: @WordList.ListName</div>
            <div class="text-secondary">Number of words: @WordList.Words?.Count</div>
            <div class="text-secondary">Source: @WordList.SourceUrl</div>
        </div>
    }
    else
    {
        <div class="text-danger">Sorry, no list found!</div>
    }
</div>

@code {
    [Parameter]
    public WordListDTO? WordList { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
}
