@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [AllowAnonymous]
@inject IStringLocalizer<SharedResource> Loc

<RemoteAuthenticatorView Action="@Action">
    <LogOutSucceeded>
        <p role="status">@Loc["Auth_LoggedOutMessage"]</p>
    </LogOutSucceeded>
</RemoteAuthenticatorView>

@code {
    [Parameter]
    public string? Action { get; set; }
}
