@page "/dic/{wordListId:int?}"

@using VocabularyManager.BlazorApp.Pages.Modals
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.Core.Entities
@using VocabularyManager.Core.Interfaces
@using VocabularyManager.UseCases.DTOs

@inject HttpPathBuilder HttpPathBuilder
@inject HttpService HttpService
@inject IWordListStateManager<WordListDTO> WordListStateManager

@implements IDisposable

<Modal @ref="createDictionaryModal"></Modal>

<h3>Dictionaries</h3>
<div class="input-group mb-3">
    <div class="col-md-5 col-sm-12">
        <AutoComplete @bind-Value="dictionaryName"
                      TItem="WordListDTO"
                      DataProvider="DictionariesDataProvider"
                      PropertyName="ListName"
                      Placeholder="Search a word list..."
                      Disabled=@dictionaryLoading
                      OnChanged="(WordListDTO? wordList) => OnAutoCompleteChanged(wordList)" />
    </div>
    <Button Color="ButtonColor.Primary" Disabled=@dictionaryLoading @onclick=TryToLoadList>Load list</Button>
</div>
<div class="mb-1">
    <Button class="m-1" 
        Type="ButtonType.Button" 
        Color="ButtonColor.Success" 
        @onclick="CreateDictionaryModal">
        Create new
    </Button>
</div>
@if (dictionaryLoading)
{
<div class="text-info">Loading...</div>
}
else
{
    if (WordListStateManager.WordList is not null)
    {
        <Tabs>
            <Tab Title="About" IsActive="true">
                <Content>
                    <AboutDictionary WordList="@WordListStateManager.WordList"></AboutDictionary>
                </Content>
            </Tab>
            <Tab Title="Edit">
                <Content>
                    <ListOfWordPlates WordList="@WordListStateManager.WordList"></ListOfWordPlates>
                </Content>
            </Tab>
        </Tabs>
    }
    else
    {
        <div class="text-info">No list loaded</div>
    }
}

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;

    [Parameter]
    public int? WordListId { get; set; }

    private string? dictionaryName;
    private IEnumerable<WordListDTO>? listOfDictionaries;
    private bool dictionaryLoading = false;
    private Modal createDictionaryModal = default!;

    protected override void OnInitialized()
    {
        WordListStateManager.SubscribeOnChangeAction(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        await TryToLoadList();
    }

    private async Task<AutoCompleteDataProviderResult<WordListDTO>> DictionariesDataProvider(
    AutoCompleteDataProviderRequest<WordListDTO> request)
    {
        if(listOfDictionaries is null)
        {
            listOfDictionaries = await GetDictionariesAsync();
        }

        return await Task.FromResult(request.ApplyTo(listOfDictionaries.OrderBy(wl => wl.ListName)));
    }

    private async Task<IEnumerable<WordListDTO>> GetDictionariesAsync()
    {
        HttpResponseMessage response = await HttpService.Get(
            HttpPathBuilder.GetWordListsEndpoint()
        );
        if (response.IsSuccessStatusCode)
        {
            return listOfDictionaries = await response.Content.ReadFromJsonAsync<IEnumerable<WordListDTO>>() ??
                Enumerable.Empty<WordListDTO>();
        }
        else return Enumerable.Empty<WordListDTO>();
    }

    private void OnAutoCompleteChanged(WordListDTO? wordList)
    {
        if(wordList is not null)
        {
            WordListId = wordList.Id;
        }
    }

    private async Task<WordListDTO?> GetWordListWithWordsById(int? wordListId)
    {
        dictionaryLoading = true;
        if (wordListId is null)
        {
            dictionaryLoading = false;
            return null;
        }

        try
        {
            HttpResponseMessage response = await HttpService
                .Get(HttpPathBuilder.GetWordListByIdEndpoint(wordListId ?? -1));
            if (response.IsSuccessStatusCode)
            {
                dictionaryLoading = false;
                return await response.Content.ReadFromJsonAsync<WordListDTO>();
            }
        }
        finally
        {
            dictionaryLoading = false;
        }
        return null;
    }
    private async Task TryToLoadList()
    {
        if(WordListId is not null)
        {
            WordListStateManager.WordList = await GetWordListWithWordsById(WordListId);
        }
    }

    private async Task CreateDictionaryModal()
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("OnCloseFunc", CloseDictionaryCreationModal);
        await createDictionaryModal.ShowAsync<CreateDictionaryModel>(
            title: "Create dictionary",
            parameters: parameters
        );
    }

    private async Task CloseDictionaryCreationModal() => await createDictionaryModal.HideAsync();

    public void Dispose()
    {
        WordListStateManager.UnsubscribeOnChangeAction(StateHasChanged);
    }
}
