@page "/wlplate"

@using VocabularyManager.BlazorApp.Interfaces
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Pages.Modals
@using VocabularyManager.BlazorApp.Pages.Components

@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager

@implements IDisposable

<Modal @ref="addWordModal"></Modal>
<div class="m-2">
    <Button @onclick="ShowAddWordModal" Type="ButtonType.Submit" Color="ButtonColor.Success">
        Add new
    </Button>
</div>
<div class="m-2">
    <FirstLetterFilter 
        Letters="Vocabulary?.Words.Select(w => w.WordContent.ToLower().FirstOrDefault()).Distinct()"
        OnChange="OnFilterChanged" 
        OnFilterCleared="OnFilterCleared"/>
</div>
@if(Vocabulary is not null)
{
    @for (int i = StartOfPage(CurrentPage); i < EndOfPage(CurrentPage); i++)
    {
        <WordPlate Word="@FilteredWords[i]"></WordPlate>
    }
    <Pagination ActivePageNumber="@CurrentPage"
                TotalPages="@((int)Math.Ceiling(FilteredWords.Count * 1m / AmountWordsOnPage))"
                PageChanged="OnPageChangedAsync" />
}
else
{
    <span class="text-secondary">No data</span>
}

@code {
    [Parameter]
    public VocabularyView? Vocabulary { get; set; }
    private IList<WordView> FilteredWords = [];
    private int CurrentPage { get; set; } = 1;
    private const int AmountWordsOnPage = 50;
    private Modal addWordModal = default!;

    protected override void OnInitialized()
    {
        VocabularyStateManager.SubscribeOnChangeAction(StateHasChanged);
        FilteredWords = Vocabulary?.Words ?? [];
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        FilteredWords = Vocabulary?.Words ?? [];

        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });
    }

    private void OnFilterChanged(char letter)
    {
        FilteredWords = Vocabulary?.Words
            .Where(w => w.WordContent.ToLower().FirstOrDefault() == letter)
            .ToList() ?? [];

        StateHasChanged();
    }

    private void OnFilterCleared()
    {
        FilteredWords = Vocabulary?.Words ?? [];
        StateHasChanged();
    }

    private async Task ShowAddWordModal()
    {
        Dictionary<string, object> parameters = [];
        parameters.Add("OnCloseFunc", (object)OnCloseModal);
        await addWordModal.ShowAsync<AddWordModal>(title: "Add word", parameters: parameters);
    }

    private async Task OnCloseModal()
    {
        await addWordModal.HideAsync();
    }

    private int StartOfPage(int currentPage) => (currentPage - 1) * AmountWordsOnPage;

    private int EndOfPage(int currentPage)
    {
        // the code help to prevent exception index out of... when we try get last page
        int end = currentPage * AmountWordsOnPage;
        return end > FilteredWords.Count ? FilteredWords.Count : end;
    }

    public void Dispose()
    {
        VocabularyStateManager.UnsubscribeOnChangeAction(StateHasChanged);
    }
}
