@using VocabularyManager.BlazorApp.Models.Views

<div class="border rounded p-2 mb-2">
    <div class="input-group mb-2">
        <span class="input-group-text">Lexeme Type</span>
        <InputText class="form-control" @bind-Value="Meaning.LexemeType"></InputText>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Level</span>
        <InputText class="form-control" @bind-Value="Meaning.Level"></InputText>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Definition</span>
        <InputTextArea class="form-control" @bind-Value="Meaning.Definition" rows="2"></InputTextArea>
    </div>
    
    <div class="d-flex flex-row">
        @if (ShowDeleteButton)
        {
            <Button Type="ButtonType.Button" Color="ButtonColor.Danger" Size="Size.Small" @onclick="OnDelete">
                Remove
            </Button>
        }
    </div>
</div>

@code {
    [Parameter]
    public required MeaningView Meaning { get; set; }

    [Parameter]
    public bool ShowDeleteButton { get; set; } = true;

    [Parameter]
    public EventCallback OnDelete { get; set; }
}
