@using VocabularyManager.BlazorApp.Models.Views

@inject IStringLocalizer<SharedResource> SharedLoc

<div class="input-group mb-2">
    <span class="input-group-text">@SharedLoc["Label_VocabularyName"]</span>
    <InputText class="form-control" @bind-Value="Vocabulary.Name"></InputText>
</div>
<div class="input-group mb-2">
    <span class="input-group-text">@SharedLoc["Label_SourceUrl"]</span>
    <InputText class="form-control" @bind-Value="Vocabulary.SourceUrl"></InputText>
</div>

@code {
    [Parameter]
    public VocabularyView Vocabulary { get; set; }
}
