@page "/vocabulary/{VocabularyId:int?}"

@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Pages.Modals
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.BlazorApp.Interfaces

@inject HttpPathBuilder HttpPathBuilder
@inject HttpService HttpService
@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager

@implements IDisposable

<Modal @ref="createVocabularyModal"></Modal>

<h3>Vocabularies</h3>
<div class="input-group mb-3">
    <div class="col-md-5 col-sm-12">
        <AutoComplete @bind-Value="vocabularyName"
                      TItem="VocabularyView"
                      DataProvider="VocabulariesDataProvider"
                      PropertyName="Name"
                      Placeholder="Search a vocabulary..."
                      Disabled=@vocabularyLoading
                      OnChanged="(VocabularyView? vocabulary) => OnAutoCompleteChanged(vocabulary)" />
    </div>
    <Button Color="ButtonColor.Primary" Disabled=@vocabularyLoading @onclick=TryToLoadVocabulary>Load</Button>
</div>
<div class="d-flex flex-row mb-1">
    <div class="me-1">
        <Button
                Type="ButtonType.Button"
                Color="ButtonColor.Success"
                @onclick="CreateVocabularyModal">
            Create
        </Button>
    </div>
    @if(VocabularyStateManager.Vocabulary is not null)
    {
        <div>
            <Button
                    Type="ButtonType.Button"
                    Color="ButtonColor.Danger"
                    @onclick="DeleteVocabularyDialog">
                Delete
            </Button>
        </div>
    }
</div>
@if (vocabularyLoading)
{
<div class="text-info">Loading...</div>
}
else
{
    if (VocabularyStateManager.Vocabulary is not null)
    {
        <Tabs>
            <Tab Title="About" IsActive="true">
                <Content>
                    <AboutVocabulary Vocabulary="@VocabularyStateManager.Vocabulary"></AboutVocabulary>
                </Content>
            </Tab>
            <Tab Title="Edit">
                <Content>
                    <ListOfWordPlates Vocabulary="@VocabularyStateManager.Vocabulary"></ListOfWordPlates>
                </Content>
            </Tab>
        </Tabs>
    }
    else
    {
        <div class="text-info">No list loaded</div>
    }
}
<ConfirmDialog @ref="dialog"></ConfirmDialog>

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;

    [Parameter]
    public int? VocabularyId { get; set; }

    private string? vocabularyName;
    private IEnumerable<VocabularyView>? listOfVocabularies;
    private bool vocabularyLoading = false;
    private Modal createVocabularyModal = default!;
    private ConfirmDialog dialog = default!;

    protected override void OnInitialized()
    {
        VocabularyStateManager.SubscribeOnChangeAction(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        await TryToLoadVocabulary();
    }

    private async Task<AutoCompleteDataProviderResult<VocabularyView>> VocabulariesDataProvider(
    AutoCompleteDataProviderRequest<VocabularyView> request)
    {
        if(listOfVocabularies is null)
        {
            listOfVocabularies = await GetVocabulariesAsync();
        }

        return await Task.FromResult(request.ApplyTo(listOfVocabularies.OrderBy(wl => wl.Name)));
    }

    private async Task<IEnumerable<VocabularyView>> GetVocabulariesAsync()
    {
        HttpResponseMessage response = await HttpService.Get(
            HttpPathBuilder.GetVocabularyEndpoint()
        );
        if (response.IsSuccessStatusCode)
        {
            return listOfVocabularies = await response.Content.ReadFromJsonAsync<IEnumerable<VocabularyView>>() ??
                Enumerable.Empty<VocabularyView>();
        }
        else return Enumerable.Empty<VocabularyView>();
    }

    private void OnAutoCompleteChanged(VocabularyView? vocabulary)
    {
        if(vocabulary is not null)
        {
            VocabularyId = vocabulary.Id;
        }
    }

    private async Task<VocabularyView?> GetVocabularyWithWordsById(int? vocabularyId)
    {
        vocabularyLoading = true;
        if (vocabularyId is null)
        {
            vocabularyLoading = false;
            return null;
        }

        try
        {
            HttpResponseMessage response = await HttpService
                .Get(HttpPathBuilder.GetVocabularytByIdEndpoint(vocabularyId ?? -1));
            if (response.IsSuccessStatusCode)
            {
                vocabularyLoading = false;
                return await response.Content.ReadFromJsonAsync<VocabularyView>();
            }
        }
        finally
        {
            vocabularyLoading = false;
        }
        return null;
    }
    private async Task TryToLoadVocabulary()
    {
        if(VocabularyId is not null)
        {
            VocabularyStateManager.Vocabulary = await GetVocabularyWithWordsById(VocabularyId);
        }
    }

    private async Task CreateVocabularyModal()
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("OnCloseFunc", CloseVocabularyCreationModal);
        await createVocabularyModal.ShowAsync<CreateVocabularyModel>(
            title: "Create vocabulary",
            parameters: parameters
        );
    }

    private async Task CloseVocabularyCreationModal()
    {
        await createVocabularyModal.HideAsync();
        listOfVocabularies = await GetVocabulariesAsync();
    }

    private async Task DeleteVocabularyDialog()
    {
        var options = new ConfirmDialogOptions()
        {
            YesButtonText = "Delete",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "Cancel",
            NoButtonColor = ButtonColor.Secondary
        };

        var confirmation = await dialog.ShowAsync(
            title: "Delete operation!",
            message1: $"Are you sure to delete the vocabulary: {VocabularyStateManager.Vocabulary.Name} ?",
            confirmDialogOptions: options
        );
        if(confirmation)
        {
            HttpResponseMessage deleteResponse = await HttpService.Delete(
                HttpPathBuilder.DeleteVocabularyEndpoint(VocabularyStateManager.Vocabulary.Id)
            );
            if(deleteResponse.IsSuccessStatusCode)
            {
                ToastService.Notify(new ToastMessage(ToastType.Success, "Vocabulary was successfully deleted."));
                VocabularyStateManager.Pop();
            }
            else
            {
                ToastService.Notify(new ToastMessage(ToastType.Danger, "Sorry, operation has failed. Try again later."));
            }
        }
    }

    public void Dispose()
    {
        VocabularyStateManager.UnsubscribeOnChangeAction(StateHasChanged);
    }
}
