@using VocabularyManager.BlazorApp.Models.Views

@inject IStringLocalizer<SharedResource> SharedLoc

<div class="input-group mb-2">
    <span class="input-group-text">@SharedLoc["Label_Word"]</span>
    <InputText class="form-control" @bind-Value="Word.WordContent"></InputText>
</div>

@code {
    [Parameter]
    public WordView Word { get; set; } = new();
}
