@using VocabularyManager.UseCases.DTOs

<div class="input-group mb-2">
    <span class="input-group-text">Word list's name</span>
    <InputText class="form-control" @bind-Value="WordList.ListName"></InputText>
</div>
<div class="input-group mb-2">
    <span class="input-group-text">Source url</span>
    <InputText class="form-control" @bind-Value="WordList.SourceUrl"></InputText>
</div>

@code {
    [Parameter]
    public WordListDTO WordList { get; set; }
}