@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.BlazorApp.Interfaces
@using Microsoft.AspNetCore.Components.Routing

@inject HttpService HttpService
@inject HttpPathBuilder HttpPathBuilder
@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager

<ConfirmDialog @ref="deleteConfirmationDialog"></ConfirmDialog>
@if(Word is not null)
{
    <div class="border border-1 rounded m-1 p-2">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <NavLink href="@($"/word/{Word.Id}")" class="fw-bold text-primary text-decoration-none">@Word.WordContent</NavLink>
            </div>
            <div class="d-flex">
                <NavLink href="@($"/word/{Word.Id}")" class="btn btn-link btn-sm text-secondary text-decoration-none m-lg-1">Edit</NavLink>
                <Button Class="m-lg-1" @onclick="DeleteWord" Type="ButtonType.Link" Color="ButtonColor.Danger" Size="Size.Small">Delete</Button>
            </div>
        </div>
    </div>
}
else
{
    <span class="text-info">None</span>
}

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;
    [Parameter]
    public required WordView Word { get; set; }
    private ConfirmDialog deleteConfirmationDialog = default!;

    private async Task DeleteWord()
    {
        ConfirmDialogOptions dialogOptions = new()
        {
            YesButtonText = "Yes, delete",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "No, cancel",
            NoButtonColor = ButtonColor.Secondary
        };
        bool deleteForSure = await deleteConfirmationDialog.ShowAsync
        (
            "Delete word",
            $"Do you want to delete the word: \"{Word.WordContent}\"",
            dialogOptions
        );
        if(deleteForSure)
        {
            HttpResponseMessage deleteResponse = await HttpService.DeleteAsync(
                HttpPathBuilder.DeleteWordEndpoint(Word.Id)
            );
            if (deleteResponse.IsSuccessStatusCode)
            {

                ToastService.Notify(new ToastMessage(ToastType.Info, "Word was deleted."));
                await VocabularyStateManager.Update();

            }
            else
            {
                ToastService.Notify(new ToastMessage(ToastType.Danger, "Delete operation couldn't be done."));
            }
        }
    }
}
