@page "/dic/{wordListId:int?}"

@using DictionaryManager.Shared.Models.Data
@using DictionaryManager.Shared.Models.DTOs
@using DictionaryManagerApp.Pages.Modals
@using DictionaryManagerApp.Services
@using System.Text.Json

@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject IDictionaryRepository<WordListDTO, WordDTO> DictionaryRepository

@implements IDisposable

<ConfirmDialog @ref="saveProgressDialog" />
<Modal @ref="createDictionaryModal"></Modal>

<h3>Dictionaries</h3>
<div class="input-group mb-3">
    <div class="col-md-5 col-sm-12">
        <AutoComplete @bind-Value="dictionaryName"
                      TItem="WordListDTO"
                      DataProvider="DictionariesDataProvider"
                      PropertyName="ListName"
                      Placeholder="Search a word list..."
                      Disabled=@dictionaryLoading
                      OnChanged="(WordListDTO? wordList) => OnAutoCompleteChanged(wordList)" />
    </div>
    <Button Color="ButtonColor.Primary" Disabled=@dictionaryLoading @onclick=TryToLoadList>Load list</Button>
</div>
<div class="mb-1">
    <Button class="m-1" 
        Type="ButtonType.Button" 
        Color="ButtonColor.Success" 
        @onclick="CreateDictionaryModal">
        Create new
    </Button>
    <Button claas="m-1" 
        @onclick="ApplyWordListChanges"
        Type="ButtonType.Button" 
        Color="@(DictionaryRepository.HasChanges ? ButtonColor.Danger : ButtonColor.Success)"
        Disabled="!DictionaryRepository.HasChanges">
        <Icon Name="@(DictionaryRepository.HasChanges ? IconName.Save : IconName.Check)"></Icon>
        @(DictionaryRepository.HasChanges ? "Apply changes" : "No changes found")
    </Button>
</div>
@if (dictionaryLoading)
{
<div class="text-info">Loading...</div>
}
else
{
    if (DictionaryRepository.Dictionary is not null)
    {
        <Tabs>
            <Tab Title="About" IsActive="true">
                <Content>
                    <AboutDictionary WordList="DictionaryRepository.Dictionary"></AboutDictionary>
                </Content>
            </Tab>
            <Tab Title="Edit">
                <Content>
                    <ListOfWordPlates></ListOfWordPlates>
                </Content>
            </Tab>
        </Tabs>
    }
    else
    {
        <div class="text-info">No list loaded</div>
    }
}

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;

    [Parameter]
    public int? WordListId { get; set; }

    private string? dictionaryName;
    private IEnumerable<WordListDTO>? listOfDictionaries;
    private bool dictionaryLoading = false;
    IDisposable? navigationRegister;
    private ConfirmDialog saveProgressDialog = default!;
    private Modal createDictionaryModal = default!;

    protected override void OnInitialized()
    {
        DictionaryRepository.SubscribeOnChangeAction(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        await TryToLoadList();
    }

    private async Task<AutoCompleteDataProviderResult<WordListDTO>> DictionariesDataProvider(
        AutoCompleteDataProviderRequest<WordListDTO> request)
    {
        if(listOfDictionaries is null)
        {
            listOfDictionaries = await GetDictionariesAsync();
        }

        return await Task.FromResult(request.ApplyTo(listOfDictionaries.OrderBy(wl => wl.ListName)));
    }

    private async Task<IEnumerable<WordListDTO>> GetDictionariesAsync()
    {
        HttpResponseMessage dictionariesResponse = await HttpClient.GetAsync(
            String.Concat(
                HttpClient.BaseAddress,
                "api/WordList/getdictionaries"
            )
        );
        if (dictionariesResponse.IsSuccessStatusCode)
        {
            return listOfDictionaries = await dictionariesResponse.Content.ReadFromJsonAsync<IEnumerable<WordListDTO>>() ??
                Enumerable.Empty<WordListDTO>();
        }
        else return Enumerable.Empty<WordListDTO>();
    }

    private void OnAutoCompleteChanged(WordListDTO? wordList)
    {
        if(wordList is not null)
        {
            WordListId = wordList.Id;
        }
    }

    private async Task<WordListDTO?> GetWordListWithWordsById(int? wordListId)
    {
        dictionaryLoading = true;
        if (wordListId is null)
        {
            dictionaryLoading = false;
            return null;
        }

        try
        {
            HttpResponseMessage response = await HttpClient
            .GetAsync(
                String.Concat(
                    HttpClient.BaseAddress,
                    $"api/WordList/getwordlistbyid?dictionaryId={wordListId}"
                )
            );
            if (response.IsSuccessStatusCode)
            {
                dictionaryLoading = false;
                return await response.Content.ReadFromJsonAsync<WordListDTO>();
            }
        }
        finally
        {
            dictionaryLoading = false;
        }
        return null;
    }
    private async Task TryToLoadList()
    {
        if(WordListId is not null)
        {
            DictionaryRepository.SetDictionary(
                await GetWordListWithWordsById(WordListId)
            );
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            navigationRegister =
                Navigation.RegisterLocationChangingHandler(OnLocationChangingAsync);
        }
    }
    private async ValueTask OnLocationChangingAsync(LocationChangingContext context)
    {
        if(DictionaryRepository.HasChanges)
        {
            ConfirmDialogOptions options = new ConfirmDialogOptions
                {
                    YesButtonText = "Continue",
                    YesButtonColor = ButtonColor.Success,
                    NoButtonText = "Quit",
                    NoButtonColor = ButtonColor.Danger
                };

            bool response = await saveProgressDialog.ShowAsync(
                "Don't close it without saving!",
                "Do you want to quit without saving?",
                options
            );

            if (response)
            {
                context.PreventNavigation();
            }
        }
    }

    private async Task CreateDictionaryModal()
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("OnCloseFunc", CloseDictionaryCreationModal);
        await createDictionaryModal.ShowAsync<CreateDictionaryModel>(
            title: "Create dictionary",
            parameters: parameters
        );
    }

    private async Task CloseDictionaryCreationModal() => await createDictionaryModal.HideAsync();

    private async Task ApplyWordListChanges()
    {
        HttpResponseMessage updateResponse = await HttpClient
            .PutAsJsonAsync(
                String.Concat(
                    HttpClient.BaseAddress,
                    $"api/WordList/updatewordlist"
                ),
                DictionaryRepository.Dictionary
            );
        Console.WriteLine(JsonSerializer.Serialize(DictionaryRepository.Dictionary));

        if(updateResponse.IsSuccessStatusCode)
        {
            DictionaryRepository.ChangesApplied();
            ToastService.Notify(new(ToastType.Info, "List updated."));
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Sorry, the changes couldn't be applied."));
        }
    }

    public void Dispose()
    {
        DictionaryRepository.UnsubscribeOnChangeAction(StateHasChanged);
        navigationRegister?.Dispose();
    }
}
