@page "/wlplate"

@using DictionaryManager.Shared.Models.DTOs
@using DictionaryManager.Shared.Models.Data
@using DictionaryManagerApp.Pages.Modals
@using DictionaryManagerApp.Services

@inject IDictionaryRepository<WordListDTO, WordDTO> DictionaryRepository

@implements IDisposable

<Modal @ref="addWordModal"></Modal>
<div class="m-2">
    <Button @onclick="ShowAddWordModal" Type="ButtonType.Submit" Color="ButtonColor.Success">
        Add new
    </Button>
</div>
@if(DictionaryRepository.Dictionary is not null)
{
    @for (int i = StartOfPage(CurrentPage); i < EndOfPage(CurrentPage); i++)
    {
        <WordPlate WordIndex="@i" Word="DictionaryRepository.Dictionary.Words[i]"></WordPlate>
    }
    <Pagination ActivePageNumber="@CurrentPage"
                TotalPages="@((int)Math.Ceiling(DictionaryRepository.Dictionary.Words.Count * 1m / AmountWordsOnPage))"
                PageChanged="OnPageChangedAsync" />
}
else
{
    <span class="text-secondary">No data</span>
}

@code {
    private int CurrentPage { get; set; } = 1;
    private const int AmountWordsOnPage = 50;
    private Modal addWordModal = default!;

    protected override void OnInitialized()
    {
        DictionaryRepository.SubscribeOnChangeAction(StateHasChanged);
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });
    }

    private async Task ShowAddWordModal()
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("OnCloseFunc", OnCloseModal);
        await addWordModal.ShowAsync<AddWordModal>(title: "Add word", parameters: parameters);
    }

    private async Task OnCloseModal()
    {
        await addWordModal.HideAsync();
    }

    private int StartOfPage(int currentPage) => (currentPage - 1) * AmountWordsOnPage;
    private int EndOfPage(int currentPage)
    {
        // the code help to prevent exception index out of... when we try get last page
        int end = currentPage * AmountWordsOnPage;
        return end > DictionaryRepository.Dictionary.Words.Count ? DictionaryRepository.Dictionary.Words.Count : end;
    }

    public void Dispose()
    {
        DictionaryRepository.UnsubscribeOnChangeAction(StateHasChanged);
    }
}
