@using DictionaryManager.Shared.Models.DTOs
@using DictionaryManagerApp.Pages.Modals
@using DictionaryManagerApp.Services
@using System.Text.Json

@inject HttpClient HttpClient
@inject IDictionaryRepository<WordListDTO, WordDTO> DictionaryRepository

<Modal @ref="editWordModal"></Modal>
<ConfirmDialog @ref="deleteConfirmationDialog"></ConfirmDialog>
@if(Word is not null)
{
    <div class="d-flex border border-1 rounded m-1 justify-content-between">
        <span class="text-secondary m-lg-2">
            @Word?.WordContent - @Word?.Lexeme - @Word?.LevelAttribute
        </span>
        <div class="d-flex">
            <Button Class="m-lg-1" @onclick="ShowEditFormModal" Type="ButtonType.Link" Color="ButtonColor.Secondary">Edit</Button>
            <Button Class="m-lg-1" @onclick=DeleteWord Type="ButtonType.Link" Color="ButtonColor.Danger">Delete</Button>
        </div>
    </div>
}
else
{
    <span class="text-info">None</span>
}

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;
    [Parameter]
    public int WordIndex { get; init; }
    [Parameter]
    public WordDTO Word { get; set; }
    private Modal editWordModal = default!;
    private ConfirmDialog deleteConfirmationDialog = default!;

    private async Task ShowEditFormModal()
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("WordIndex", WordIndex);
        parameters.Add("OnCloseFunc", OnCloseModal);
        await editWordModal.ShowAsync<EditWordModal>(title: "EditWord", parameters: parameters);
    }

    private async Task OnCloseModal()
    {
        await editWordModal.HideAsync();
    }

    private async Task DeleteWord()
    {
        ConfirmDialogOptions dialogOptions = new ConfirmDialogOptions()
        {
            YesButtonText = "Yes, delete",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "No, cancel",
            NoButtonColor = ButtonColor.Secondary
        };
        bool deleteForSure = await deleteConfirmationDialog.ShowAsync
        (
            "Delet word",
            $"Do you want to delete the word: \"{Word.WordContent}\"",
            dialogOptions
        );
        if(deleteForSure)
        {
            HttpResponseMessage deleteResponse = await HttpClient
                .DeleteAsync(
                    String.Concat(
                        HttpClient.BaseAddress,
                        $"api/Words/deleteword?id={Word.Id}"
                    )
                );
            if (deleteResponse.IsSuccessStatusCode)
            {
                try
                {
                    DictionaryRepository.RemoveWordAtIndex(WordIndex);
                    ToastService.Notify(new(ToastType.Info, "Word was deleted."));
                }
                catch (IndexOutOfRangeException)
                {
                    ToastService.Notify(new(ToastType.Danger, "Delete operation couldn't be done."));
                }
            }
            else
            {
                ToastService.Notify(new(ToastType.Danger, "Delete operation couldn't be done."));
            }
        }
    }
}
