@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <VocabularyManager.BlazorApp.Auth.LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
            <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
        </article>
    </main>
</div>
