@using FluentValidation
@using FluentValidation.Results
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.Core.Entities

@inject HttpService HttpService
@inject HttpPathBuilder HttpPathBuilder
@inject IValidator<VocabularyView> VocabularyValidator

<VocabularyForm Vocabulary="vocabulary"></VocabularyForm>
<div class="m-1">
    @if (validationErrors.Count > 0)
    {
        foreach (var error in validationErrors)
        {
            <ValidationError Error="error"></ValidationError>
        }
    }
</div>
<Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="CreateVocabulary">Create</Button>
<Button Type="ButtonType.Reset" Color="ButtonColor.Danger" @onclick="OnCloseFunc">Cancel</Button>

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;
    [Parameter]
    public Func<Task> OnCloseFunc { get; set; }
    private VocabularyView vocabulary;
    private List<ValidationFailure> validationErrors = [];

    protected override void OnParametersSet()
    {
        vocabulary = new VocabularyView();
    }

    private async Task CreateVocabulary()
    {
        validationErrors.Clear();
        ValidationResult result = VocabularyValidator.Validate(vocabulary);
        if(result.IsValid)
        {
            HttpResponseMessage vocabularyCreationResponse = await HttpService.PostWithJson<VocabularyView>(
                HttpPathBuilder.CreateVocabularyEndpoint(),
                vocabulary
            );
            if (vocabularyCreationResponse.IsSuccessStatusCode)
            {
                ToastService.Notify(new(ToastType.Success, $"Vocabulary saved successfully."));
                await OnCloseFunc();
            }
            else
            {
                ToastService.Notify(new(ToastType.Danger, $"Vocabulary creation failed."));
            }
        }
        else
        {
            validationErrors.AddRange(result.Errors);
        }
    }
}
