@using FluentValidation
@using FluentValidation.Results
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.BlazorApp.Interfaces
@using VocabularyManager.BlazorApp.Validators
@using VocabularyManager.BlazorApp.Pages.Components

@inject HttpService HttpService
@inject HttpPathBuilder HttpPathBuilder
@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager
@inject IValidator<WordView> WordValidator
@inject IValidator<MeaningView> MeaningValidator

<WordForm Word="wordData"></WordForm>

<div class="mt-3">
    <h6>Meanings</h6>
    @foreach (var meaning in wordData.Meanings)
    {
        <MeaningForm Meaning="meaning" OnDelete="@(() => RemoveMeaning(meaning))" />
    }
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Small" @onclick="AddMeaning">
        + Add Meaning
    </Button>
</div>

<div class="m-1 mt-3">
    @if (validationErrors.Count > 0)
    {
        foreach (var error in validationErrors)
        {
            <ValidationError Error="error"></ValidationError>
        }
    }
</div>

<div class="mt-2">
    <Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="UpdateWord">Update</Button>
    <Button Type="ButtonType.Reset" Color="ButtonColor.Danger" @onclick="OnCloseFunc">Cancel</Button>
</div>

@code {

    [Inject]
    protected ToastService ToastService { get; set; } = default!;

    [Parameter]
    public required WordView Word { get; set; }

    [Parameter]
    public Func<Task> OnCloseFunc { get; init; } = () => Task.CompletedTask;

    private WordView wordData = new();
    private List<ValidationFailure> validationErrors = [];

    protected override void OnParametersSet()
    {
        wordData = WordCloner.CloneWord(Word);
    }

    private void AddMeaning()
    {
        wordData.Meanings.Add(new MeaningView() { WordId = Word.Id });
    }

    private void RemoveMeaning(MeaningView meaning)
    {
        wordData.Meanings.Remove(meaning);
    }

    private async Task UpdateWord()
    {
        validationErrors.Clear();
        ValidationResult wordResult = WordValidator.Validate(wordData);

        if (!wordResult.IsValid)
        {
            validationErrors.AddRange(wordResult.Errors);
            return;
        }

        foreach (MeaningView meaning in wordData.Meanings)
        {
            ValidationResult meaningResult = MeaningValidator.Validate(meaning);
            if (!meaningResult.IsValid)
            {
                validationErrors.AddRange(meaningResult.Errors);
                return;
            }
        }

        HttpResponseMessage updateResponse = await HttpService.PutAsync<WordView>(
            HttpPathBuilder.UpdateWordEndpoint(),
            wordData
        );

        if (updateResponse.IsSuccessStatusCode)
        {
            ToastService.Notify(new(ToastType.Info, "Word was updated."));
            await VocabularyStateManager.Update();
            await OnCloseFunc();
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Sorry, update operation failed."));
        }
    }
}