@using FluentValidation
@using FluentValidation.Results
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.BlazorApp.Interfaces
@using VocabularyManager.BlazorApp.Validators

@inject HttpService HttpService
@inject HttpPathBuilder HttpPathBuilder
@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager
@inject IValidator<WordView> WordValidator

<WordForm Word="wordData"></WordForm>
<div class="m-1">
    @if (validationErrors.Count > 0)
    {
        foreach (var error in validationErrors)
        {
            <ValidationError Error="error"></ValidationError>
        }
    }
</div>
<Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="UpdateWord">Update</Button>
<Button Type="ButtonType.Reset" Color="ButtonColor.Danger" @onclick="OnCloseFunc">Cancel</Button>

@code {
    [Inject]
    protected ToastService ToastService { get; set; } = default!;
    [Parameter]
    public WordView Word { get; set; }
    [Parameter]
    public Func<Task> OnCloseFunc { get; init; }
    private WordView wordData;
    private List<ValidationFailure> validationErrors = [];

    protected override void OnParametersSet()
    {
        wordData = WordCloner.CloneWord(Word);
    }

    private async Task UpdateWord()
    {
        validationErrors.Clear();
        ValidationResult result = WordValidator.Validate(wordData);
        if (result.IsValid)
        {
            HttpResponseMessage updateReposne = await HttpService.PutAsync<WordView>(
                HttpPathBuilder.UpdateWordEndpoint(),
                wordData
            );
            if (updateReposne.IsSuccessStatusCode)
            {
                ToastService.Notify(new(ToastType.Info, "Word was updated."));
                await VocabularyStateManager.Update();
                await OnCloseFunc();
            }
            else
            {
                ToastService.Notify(new(ToastType.Info, "Sorry, update operation failed."));
            }
        }
        else
        {
            validationErrors.AddRange(result.Errors);
        }
    }
}